<div class="flex w-fit flex-col gap-3 rounded-md border-2 border-black p-4" [class]="customClass()">
  @if (type() === CardType.TEACHER) {
  <img ngSrc="assets/img/teacher.png" width="200" height="200" />
  }
  @if (type() === CardType.STUDENT) {
  <img ngSrc="assets/img/student.webp" width="200" height="200" />
  }

  <section>
    @for (item of list(); track item) {
    <app-list-item [name]="item.firstName" [id]="item.id" [type]="type()" />
    }
  </section>

  <button class="rounded-sm border border-blue-500 bg-blue-300 p-2" (click)="addNewItem()">
    Add
  </button>
</div>